<h1>These are the Passengers: </h1>
<h2> RideShare Passengers:  </h2>
<% @passengers.each do |passenger| %>

<p>
    <%= link_to "#{passenger.id}: #{passenger.name}", passenger_path(passenger.id) %>
</p>
 <% end %>
