
<body background="https://picsum.photos/1100/1200?image=690" alt="city image">

<section class="main">
<h3><%= link_to "Manage Drivers", drivers_path %></h3>
<br />
<h3><%= link_to "Manage Passengers", passengers_path %></h3>
</section>
