
<body background="https://picsum.photos/1100/1200?image=690" alt="city image">

<a class="main">
<%= link_to "Manage Drivers", drivers_path %><%= link_to "Manage Passengers", passengers_path %></a>
</body>
