/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*/

body {
  padding: 60px;
  background-color: #E0E2DB;
  font-family: Helvetica;
  margin-left: 20px;}
  p {
    font-family: Helvetica;
    font-size: 1em;
  }
  h1 {
    font-size: 2em;
    font-family: Helvetica;
    color: black;
  }

  header {
    display: inline-flex;
    list-style-type: none;
    position: sticky;
    justify-content: space-around;
    padding-top: 20px;
    font-family: Helvetica;
    width: 100%;
    margin-left: 5px;
    margin-right: 5px;
    height: 45px;
    width: 100%;
    border: 5px solid white;
    background-color: #E8EFE3;
  }
  .main {
    font-size: 2em;

  }
  header :link, header :active, header :visited{
    color: black;
    text-decoration: none;
    font-family: Helvetica;
    color: #36393B;}


    header :hover{
      font-size: 1.25em;
      text-decoration: none;
      color: #AFD0D6;
    }
    h3 :link, h3 :active,h3 :visited{
      font-size: 1em;
      text-decoration: none;
      color: #36393B;
    }
    h3 :hover{
      text-decoration: none;
      font-size: 1.25em;
      color: #AFD0D6;

    }
    table {
      border-collapse: collapse;
      table-layout: auto;
      width: auto;
      padding: 10px;
      border-style: solid;
      border-color: #36393B;
    }
    table :link, h3 :active, h3 :visited{
      font-size: 1em;
      text-decoration: none;
      color: #36393B;
    }
    tr:nth-child(even) {background-color: #f2f2f2;}
  th{
    background-color: #7681B3;
color: white;
  }
     td{
       text-align: center;
      border-width: thin;
      border-style: solid;
      border-color: #36393B;
    }
    .passform{
      font-size: 1em;
      font-style: italic;
    }
.driverbox{

  width: 30%;
  padding: 10px;

}
.pformbox{
  font-size: 1em;
  border: 1px solid black;
  display: inline-flex;
  flex-direction: column;
  height: 50px;
  width: 150px;
  justify-content: space-around;
}
.boxa{
  text-align: center;
  font-size: 1em;
  border: 1px solid black;
  display: inline-flex;
  flex-direction: column;
  height: 50px;
  width: 150px;
  justify-content: space-between;
}
